/* .post-detail-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .post-detail-container h1 {
    margin-bottom: 20px;
  }
  
  .post-detail-container p {
    margin-bottom: 20px;
  }
  
  .post-detail-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .post-detail-meta span {
    font-weight: bold;
  }
  
  .post-detail-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .post-detail-container a:hover {
    text-decoration: underline;
  } */